@{
    ViewBag.Title = "我的关注";
    ViewBag.currentPage = "方案高手";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MyUniversity.Models;
@using MyUniversity.Models.DTO;
<link href="~/Content/Help/Index.css" rel="stylesheet" />
<link href="~/Content/projectsuperior/findschoolmate.css" rel="stylesheet" />
<link href="~/Content/projectsuperior/follow.css" rel="stylesheet" />
<link href="~/Content/projectsuperior/public.css" rel="stylesheet" />
@Html.Partial("_SuperiorSidebar")
<div class="col-right right-content">
    <div class="con-left">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title panel-title-me">我的关注</h2>
            </div>
            <div id="notice-con">
                <!--全部关注的方案高手-->
                <div id="mod-1" class="mod" style="display: block">
                    <div class="uncontent" style="display: none;">
                        <i class="iconfont">&#xe659</i>
                        <p>还没有任何关注哦,
                            <a href="/projectsuperior/index">去关注我的方案高手！</a>
                        </p>
                    </div>
                    @foreach (Follows f in ViewData["follows"] as IQueryable<Follows>)
                    {
                        <div class="wenda-list">
                            <div class="wenda-listcon">
                                <div class="headslider">
                                    <a href="/account/person/@f.followUserId" class="superior-head">
                                        <img src="@f.User.userImg">
                                    </a>
                                    @Html.ActionLink(f.User.userName, "person", "account", new { id = f.followUserId }, new { @class = "wenda-nickname" })
                                    <i class="iconfont girlsex-img">&#xe639</i>
                                    <input type="hidden" class="userSex" value="@f.User.userSex" />
                                </div>
                                <div class="wendaslider">
                                    <a href="/projectsuperior/space/@f.followUserId" class="experience-nums">
                                        <div class="ys">
                                            <div class="number">
                                                @f.User.userRank
                                            </div>
                                            <div>经验</div>
                                        </div>
                                        <div class="browsenum">
                                            <div class="number">
                                                @f.User.userVisitedNum
                                            </div>
                                            <div>访问</div>
                                        </div>
                                    </a>
                                    <div class="ability">
                                        <i class="iconfont">&#xe63f</i>
                                        <a onclick="window.open('/projectsuperior/space/@f.followUserId')">@f.User.userMerit</a>
                                    </div>
                                    <div class="question">
                                        <i class="iconfont">&#xe62c</i>
                                        <div class="replydes">
                                            <span class="replycontent">@f.User.userIntro</span>
                                        </div>
                                    </div>
                                    <div class="department-rank">
                                        <a>@f.User.userSchool</a>
                                        <a class="depart">@f.User.userDepart</a>
                                        <a href="/message/index/@f.followUserId/s" class="list-tag"><i class="iconfont">&#xe63b</i>私信</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--校内关注的方案高手-->
                <div id="mod-2" class="mod" style="display: none">
                    <div class="uncontent" style="display: none;">
                        <i class="iconfont">&#xe659</i>
                        <p>还没有任何关注哦，
                            <a href="/projectsuperior/index">去关注我的方案高手！</a>
                        </p>
                    </div>
                    @foreach (Follows f in ViewData["mySchoolFollows"] as IQueryable<Follows>)
                    {
                        <div class="wenda-list">
                            <div class="wenda-listcon">
                                <div class="headslider">
                                    <a href="/account/person/@f.followUserId" class="superior-head">
                                        <img src="@f.User.userImg">
                                    </a>
                                    @Html.ActionLink(f.User.userName, "person", "account", new { id = f.followUserId }, new { @class = "wenda-nickname" })
                                    <i class="iconfont girlsex-img">&#xe639</i>
                                    <input type="hidden" class="userSex" value="@f.User.userSex" />
                                </div>
                                <div class="wendaslider">
                                    <a href="/projectsuperior/space/@f.followUserId" class="experience-nums">
                                        <div class="ys">
                                            <div class="number">
                                                @f.User.userRank
                                            </div>
                                            <div>经验</div>
                                        </div>
                                        <div class="browsenum">
                                            <div class="number">
                                                @f.User.userVisitedNum
                                            </div>
                                            <div>访问</div>
                                        </div>
                                    </a>
                                    <div class="ability">
                                        <i class="iconfont">&#xe63f</i>
                                        <a onclick="window.open('/projectsuperior/space/@f.followUserId')">@f.User.userMerit</a>
                                    </div>
                                    <div class="question">
                                        <i class="iconfont">&#xe62c</i>
                                        <div class="replydes">
                                            <span class="replycontent">@f.User.userIntro</span>
                                        </div>
                                    </div>
                                    <div class="department-rank">
                                        <a>@f.User.userSchool</a>
                                        <a class="depart">@f.User.userDepart</a>
                                        <a href="/message/index/@f.followUserId/s" class="list-tag"><i class="iconfont">&#xe63b</i>私信</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--右边推荐列表-->
    <div class="con-right">
        @Html.Partial("_SuperiorRightSidebar")
    </div>
</div>
<script src="~/Scripts/projectsuperior/index.js"></script>
<script type="text/javascript">
    $(".private-letter").click(function () {
        if ($(this).text() == "关注") {
            location.href = "/projectsuperior/follow";
        } else {
            location.href = "/projectsuperior/letter";
        }
    });

    if ($("#mod-1").children().length == 1) {
        $("#mod-1").find(".uncontent").css("display", "block");
    }
    if ($("#mod-2").children().length == 1) {
        $("#mod-2").find(".uncontent").css("display", "block");
    }
</script>
