@{
    ViewBag.Title = "写打卡日志";
    ViewBag.Active = "计划监督";
    ViewBag.currentPage = "广场";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MyUniversity.Models;
<link href="~/Content/Help/Index.css" rel="stylesheet" />
<link href="~/Content/Help/publish.css" rel="stylesheet" />
<link href="~/Content/plancontrol/clocklog.css" rel="stylesheet" />
@Html.Partial("_SquareSidebar")
<!--写打卡日志框-->
<div class="col-right">
    <div class="con-left">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title panel-title-me">写打卡日志</h2>
                <h4><a href="/plan/detail/@ViewData["planId"]">@ViewData["planTitle"]</a></h4>
            </div>
            <div class="clock-log-write">
                <div class="quesdetail">
                    <span class="ques-label">计划完成日志：</span>
                    <div class="editor-wrap">
                        <div class="editor-write">
                            <textarea id="clock-log-content" class="while-btn" rows="3" placeholder="请写下今天完成了那些计划、感想等等"></textarea>
                            <p class="errortip errortip-area"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="saveques">
                <a class="university-btn publishbtn" id="write-clock-log">提交</a>
            </div>
        </div>
        <input type="hidden" id="planId" value="@ViewData["planId"]" />
    </div>
    <div class="con-right">
        <div class="panel bbs-sendques">
            <div class="panel-body">
                <span class="i-calendar"><i class="iconfont">&#xe66a</i></span>
                <h1 class="title-write">您是写打卡日志 恩 记得每天准时写打卡日志哦！</h1>
                <dl>
                    <dt>上面没有写错，是您看错啦。</dt>
                    <dd>1、您有梦想吗？ 有，那就去实现它吧。</dd>
                    <dd>2、是不是担心实现的过程中坚持不下，希望有人一直陪伴；</dd>
                </dl>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">TA刚完成打卡日志</h2>
            </div>
            <ul>
                @foreach (Clocklog c in ViewData["clockLogs"] as List<Clocklog>)
                {
                    <li class="padtop">
                        <a href="/account/person/@c.userId" class="wenda-head roll-head">
                            <img src="@c.User.userImg" width="40" height="40">
                        </a>
                        <a href="/account/person/@c.userId" class="rankingnickname">Michael<i class="iconfont sex"></i></a>
                        <a href="/plan/detail/@c.planId" class="archieve">@c.Plan.planTitle</a>
                        <input type="hidden" class="user-sex" value="@c.User.userSex" />
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<script src="~/Scripts/plan/clocklog.js"></script>
